
@{
}

<!-- Slider -->
<div class="bannercontainer" style="overflow: visible;">
    <div class="banner revslider-initialised tp-simpleresponsive" id="revslider-383" style="height: 500px;">
        <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 500px;">

            <li data-transition="fade" data-slotamount="7" class="slide" data-slide="Rush." style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="images/slides/first-slide.jpg" data-src="images/slides/first-slide.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/slides/first-slide.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0; position: relative;"></div></div>
                <div class="caption slide__name margin-slider tp-caption start splitted" data-x="right" data-y="80" data-splitin="chars" data-elementdelay="0.1" data-speed="700" data-start="1400" data-easing="easeOutBack" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 " data-splitout="lines" data-endelementdelay="0.1" data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%" data-endspeed="500" data-end="8400" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 114px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 80px; left: 986.5px; top: 80px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">
                    <div class="tp-splitted" style="display: block; text-align: left; position: relative; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">
                        <div style="position:relative;display:inline-block;" class="tp-splitted">
                            <div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
                            </div>
                        </div> <div style="position:relative;display:inline-block;" class="tp-splitted">
                            <div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">U</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">S</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">H</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
                            </div>
                        </div>
                    </div><div class="tp-splitted" style="display: block; text-align: left; position: relative; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><div style="position:relative;display:inline-block;" class="tp-splitted">                               </div> </div>
                </div>

                <div class="caption slide__time margin-slider sfr str tp-caption start" data-x="right" data-hoffset="-243" data-y="186" data-speed="300" data-start="2100" data-easing="easeOutBack" data-endspeed="300" data-end="8700" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 931.5px; top: 186px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 50, 0, 0, 1);">
                    From
                </div>
                <div class="caption slide__date margin-slider lfb ltb tp-caption start" data-x="right" data-hoffset="-149" data-y="186" data-speed="500" data-start="2400" data-easing="Power4.easeOut" data-endspeed="400" data-end="8200" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 978.5px; top: 186px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 560, 0, 1);">
                    October 18
                </div>
                <div class="caption slide__time margin-slider sfr str tp-caption start" data-x="right" data-hoffset="-113" data-y="186" data-speed="300" data-start="2100" data-easing="easeOutBack" data-endspeed="300" data-end="8700" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 1075.5px; top: 186px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 50, 0, 0, 1);">
                    - till
                </div>
                <div class="caption slide__date margin-slider lfb ltb tp-caption start" data-x="right" data-y="186" data-speed="500" data-start="2800" data-easing="Power4.easeOut" data-endspeed="400" data-end="8200" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 1107.5px; top: 186px; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 560, 0, 1);">
                    November 01
                </div>
                <div class="caption slide__text margin-slider customin customout tp-caption start" data-x="right" data-y="250" data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="400" data-start="3000" data-endspeed="400" data-end="8000" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 21px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 13px; left: 642.5px; top: 250px; visibility: visible; opacity: 0; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    Two-time Academy Award winner Ron Howard, teams once again with fellow two-time Academy<br> Award nominee, writer Peter Morgan , on Rush, a spectacular big-screen re-creation of the merciless<br> 1970s rivalry between James Hunt and Niki Lauda.
                </div>
                <div class="caption margin-slider skewfromright customout  tp-caption start" data-x="right" data-y="324" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="400" data-start="3300" data-easing="Power4.easeOut" data-endspeed="300" data-end="7700" data-endeasing="Power4.easeOut" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 971.5px; top: 324px; visibility: visible; opacity: 0; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    <a href="#" class="slide__link">check out cinemas &amp; time</a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="7" class="slide fading-slide" data-slide="Travel worldwide.Create trip film." style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="images/bg-video.jpg" data-src="images/bg-video.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/bg-video.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; position: relative;"></div></div>
                <div class="caption slide__video tp-caption start" data-x="0" data-y="0" data-autoplay="true" style="font-size: 14px; padding: 0px; margin: 0px; border-width: 0px; border-style: initial; border-color: initial; line-height: 20px; height: 1080px; left: 46.5px; top: 0px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                    <div class="html5vid videoisplaying" style="position:relative;top:0px;left:0px;width:auto;height:auto">
                        <video class="media-element HasListener" autoplay="autoplay" preload="" loop="loop" muted="" src="video/TravelIs.mp4" style="display: block; width: 1920px; height: 1080px;">
                            <source type="video/webm" src="video/TravelIs.webm">
                            <source type="video/mp4" src="video/TravelIs.mp4">
                            <source type="video/ogg" src="video/TravelIs.ogv">
                        </video><div class="tp-video-play-button"><i class="revicon-right-dir"></i><div class="tp-revstop"></div></div>
                    </div>
                </div>

                <div class="caption slide__name slide__name--smaller tp-caption start splitted" data-x="left" data-y="160" data-splitin="chars" data-elementdelay="0.1" data-speed="700" data-start="1400" data-easing="easeOutBack" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;" data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 " data-splitout="lines" data-endelementdelay="0.1" data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%" data-endspeed="500" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 85px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 46.5px; top: 160px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">
                    <div class="tp-splitted" style="display: block; text-align: center; position: relative; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);">
                        <div style="position:relative;display:inline-block;" class="tp-splitted">
                            <div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
                            </div>
                        </div> <div style="position:relative;display:inline-block;" class="tp-splitted">                                   <div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">T</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">r</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">a</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">v</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">e</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">l</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">,</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted"><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">A</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">d</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">m</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">i</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">r</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">e</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">,</div></div> <div style="position:relative;display:inline-block;" class="tp-splitted">
                            <div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">R</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">e</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">m</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">e</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">m</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">b</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">e</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">r</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">.</div><div style="position: relative; display: inline-block; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);" class="tp-splitted">
                            </div>
                        </div>
                    </div><div class="tp-splitted" style="display: block; text-align: center; position: relative; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1);"><div style="position:relative;display:inline-block;" class="tp-splitted">                               </div> </div>
                </div>

                <div class="caption slide__time position-center postion-place--one sfr stl tp-caption start" data-x="left" data-y="242" data-speed="300" data-start="2100" data-easing="easeOutBack" data-endspeed="300" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px 0px 0px -90px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 46.5px; top: 242px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                    From
                </div>
                <div class="caption slide__date position-center postion-place--two lfb ltb tp-caption start" data-x="left" data-y="242" data-speed="500" data-start="2400" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px 0px 0px -32px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 46.5px; top: 242px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                    April 18
                </div>
                <div class="caption slide__time position-center postion-place--three sfr stl tp-caption start" data-x="left" data-y="242" data-speed="300" data-start="2100" data-easing="easeOutBack" data-endspeed="300" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 46.5px; top: 242px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                    - till
                </div>
                <div class="caption slide__date position-center postion-place--four lfb ltb tp-caption start" data-x="left" data-y="242" data-speed="500" data-start="2800" data-easing="Power4.easeOut" data-endspeed="400" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 0px; border-width: 0px; margin: 0px 0px 0px 70px; padding: 0px; letter-spacing: 0px; font-size: 18px; left: 46.5px; top: 242px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                    May 01
                </div>

                <div class="caption lfb slider-wrap-btn ltb tp-caption start" data-x="left" data-y="310" data-speed="400" data-start="3300" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeOut" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 46.5px; top: 310px; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);">
                    <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">learn more</a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="7" class="slide" data-slide="Stop wishing.
Start doing." style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 18; opacity: 1;">
                <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined" data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined" src="images/slides/next-slide.jpg" data-src="images/slides/next-slide.jpg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;images/slides/next-slide.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0; position: relative;"></div></div>
                <div class="caption slide__name slide__name--smaller slide__name--specific customin customout tp-caption start" data-x="left" data-y="160" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="1400" data-easing="easeOutBack" data-endspeed="500" data-end="8600" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 85px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 60px; left: 46.5px; top: 160px; visibility: visible; opacity: 0; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    Stop <span class="highlight">wishing.</span> Start <span class="highlight">doing.</span>
                </div>

                <div class="caption slide__descript customin customout tp-caption start" data-x="left" data-y="240" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="700" data-start="2000" data-endspeed="500" data-end="8400" data-endeasing="Back.easeIn" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 31px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 22px; left: 46.5px; top: 240px; visibility: visible; opacity: 0; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    find your best match movie with A.MOVIE
                </div>

                <div class="caption lfb customout slider-wrap-btn tp-caption start" data-x="left" data-y="310" data-speed="500" data-start="2800" data-easing="Power4.easeOut" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-endspeed="400" data-end="8000" data-endeasing="Power4.easeOut" style="transition: all 0s ease 0s; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 14px; left: 46.5px; top: 310px; visibility: visible; opacity: 0; transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, -0.00166, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                </div>
            </li>

        </ul>
        <div class="tp-loader spinner0" style="visibility: hidden; opacity: 0;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-bannertimer" style="visibility: hidden; width: 0%;"></div>
    </div>
    <div style="position: absolute; top: 250px; margin-top: -17px; left: 0px;" class="tp-leftarrow tparrows default"><span class="slider__info">Rush.</span></div><div style="position: absolute; top: 250px; margin-top: -60px; right: 0px;" class="tp-rightarrow tparrows default">
        <span class="slider__info">
            Stop wishing.
            Start doing.
        </span>
    </div>
</div>
<!--end slider -->
<!-- Main content -->
<section class="container">
    <div class="movie-best">
        <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Today Best choice</div>
        <div class="col-sm-12 change--col">
            <div class="movie-beta__item ">
                <img alt='' src="~/img/images/movie/movie-sample1.jpg">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-left.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item second--item">
                <img alt='' src="~/img/images/movie/movie-sample2.jpg">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-left.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item third--item">
                <img alt='' src="~/img/images/movie/movie-sample3.jpg">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-left.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item hidden-xs">
                <img alt='' src="~/img/images/movie/movie-sample4.jpg">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-left.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item hidden-xs hidden-sm">
                <img alt='' src="~/img/images/movie/movie-sample5.jpg">
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-left.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
            <div class="movie-beta__item hidden-xs hidden-sm">
                <img src="~/img/images/movie/movie-sample6.jpg" />
                <span class="best-rate">5.0</span>

                <ul class="movie-beta__info">
                    <li><span class="best-voted">71 people voted today</span></li>
                    <li>
                        <p class="movie__time">169 min</p>
                        <p>Adventure | Drama | Fantasy </p>
                        <p>38 comments</p>
                    </li>
                    <li class="last-block">
                        <a href="movie-page-left.html" class="slide__link">more</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-1 movie-best__check">check all movies now playing</div>
    </div>

    <div class="col-sm-12">
        <div class="mega-select-present mega-select-top mega-select--full">
            <div class="mega-select-marker">
                <div class="marker-indecator location">
                    <p class="select-marker"><span>movie to watch now</span> <br>in your city</p>
                </div>

                <div class="marker-indecator cinema">
                    <p class="select-marker"><span>find your </span> <br>cinema</p>
                </div>

                <div class="marker-indecator film-category">
                    <p class="select-marker"><span>find movie due to </span> <br> your mood</p>
                </div>

                <div class="marker-indecator actors">
                    <p class="select-marker"><span> like particular stars</span> <br>find them</p>
                </div>

                <div class="marker-indecator director">
                    <p class="select-marker"><span>admire personalities - find </span> <br>by director</p>
                </div>

                <div class="marker-indecator country">
                    <p class="select-marker"><span>search for movie from certain </span> <br>country?</p>
                </div>
            </div>

            <div class="mega-select pull-right">
                <span class="mega-select__point">Search by</span>
                <ul class="mega-select__sort">
                    <li class="filter-wrap"><a href="#" class="mega-select__filter filter--active" data-filter='location'>Location</a></li>
                    <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='cinema'>Cinema</a></li>
                    <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='film-category'>Category</a></li>
                    <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='actors'>Actors</a></li>
                    <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='director'>Director</a></li>
                    <li class="filter-wrap"><a href="#" class="mega-select__filter" data-filter='country'>Country</a></li>
                </ul>

                <input name="search-input" type='text' class="select__field">

                <div class="select__btn">
                    <a href="#" class="btn btn-md btn--danger location">find <span class="hidden-exrtasm">your city</span></a>
                    <a href="#" class="btn btn-md btn--danger cinema">find <span class="hidden-exrtasm">suitable cimema</span></a>
                    <a href="#" class="btn btn-md btn--danger film-category">find <span class="hidden-exrtasm">best category</span></a>
                    <a href="#" class="btn btn-md btn--danger actors">find <span class="hidden-exrtasm">talented actors</span></a>
                    <a href="#" class="btn btn-md btn--danger director">find <span class="hidden-exrtasm">favorite director</span></a>
                    <a href="#" class="btn btn-md btn--danger country">find <span class="hidden-exrtasm">produced country</span></a>
                </div>

                <div class="select__dropdowns">
                    <ul class="select__group location">
                        <li class="select__variant" data-value='London'>London</li>
                        <li class="select__variant" data-value='New York'>New York</li>
                        <li class="select__variant" data-value='Paris'>Paris</li>
                        <li class="select__variant" data-value='Berlin'>Berlin</li>
                        <li class="select__variant" data-value='Moscow'>Moscow</li>
                        <li class="select__variant" data-value='Minsk'>Minsk</li>
                        <li class="select__variant" data-value='Warsawa'>Warsawa</li>
                    </ul>

                    <ul class="select__group cinema">
                        <li class="select__variant" data-value='Cineworld'>Cineworld</li>
                        <li class="select__variant" data-value='Empire'>Empire</li>
                        <li class="select__variant" data-value='Everyman'>Everyman</li>
                        <li class="select__variant" data-value='Odeon'>Odeon</li>
                        <li class="select__variant" data-value='Picturehouse'>Picturehouse</li>
                    </ul>

                    <ul class="select__group film-category">
                        <li class="select__variant" data-value="Children's">Children's</li>
                        <li class="select__variant" data-value='Comedy'>Comedy</li>
                        <li class="select__variant" data-value='Drama'>Drama</li>
                        <li class="select__variant" data-value='Fantasy'>Fantasy</li>
                        <li class="select__variant" data-value='Horror'>Horror</li>
                        <li class="select__variant" data-value='Thriller'>Thriller</li>
                    </ul>

                    <ul class="select__group actors">
                        <li class="select__variant" data-value='Leonardo DiCaprio'>Leonardo DiCaprio</li>
                        <li class="select__variant" data-value='Johnny Depp'>Johnny Depp</li>
                        <li class="select__variant" data-value='Jack Nicholson'>Jack Nicholson</li>
                        <li class="select__variant" data-value='Robert De Niro'>Robert De Niro</li>
                        <li class="select__variant" data-value='Morgan Freeman'>Morgan Freeman</li>
                        <li class="select__variant" data-value='Jim Carrey'>Jim Carrey</li>
                        <li class="select__variant" data-value='Adam Sandler'>Adam Sandler</li>
                        <li class="select__variant" data-value='Ben Stiller'>Ben Stiller</li>
                    </ul>

                    <ul class="select__group director">
                        <li class="select__variant" data-value='Steven Spielberg'>Steven Spielberg</li>
                        <li class="select__variant" data-value='Martin Scorsese'>Martin Scorsese</li>
                        <li class="select__variant" data-value='Guy Ritchie'>Guy Ritchie</li>
                        <li class="select__variant" data-value='Christopher Nolan'>Christopher Nolan</li>
                        <li class="select__variant" data-value='Tim Burton'>Tim Burton</li>
                    </ul>

                    <ul class="select__group country">
                        <li class="select__variant" data-value='USA'>USA</li>
                        <li class="select__variant" data-value='Germany'>Germany</li>
                        <li class="select__variant" data-value='Australia'>Australia</li>
                        <li class="select__variant" data-value='UK'>UK</li>
                        <li class="select__variant" data-value='Japan'>Japan</li>
                        <li class="select__variant" data-value='Serbia'>Serbia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <h2 id='target' class="page-heading heading--outcontainer">Now in the cinema</h2>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/am-hon-do-thi2.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">VỊ KINH NGHIỆM (T18)  </a>

                        <p class="movie__time">91 min</p>

                        <p class="movie__option">
                            <a href="#">Kinh dị</a>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.1</span>
                            </div>
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/khu-vuon-quy-di-poster.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">CẤM CHƠI (T18) </a>

                        <p class="movie__time">169 min</p>

                        <p class="movie__option">
                            <a href="#">Kinh dị</a>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/mong-du.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">NGỦ (T16)   </a>

                        <p class="movie__time">146 min</p>

                        <p class="movie__option">
                            <a href="#">Kinh dị</a>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.9</span>
                            </div>
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/nam-dem-kinh-hoang.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">NĂM ĐÊM TẠI FREDDY'S (T13) </a>

                        <p class="movie__time">112 min</p>

                        <p class="movie__option">
                            <a href="#">Kinh dị</a>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/quy-am-tin-do.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">NHÀ TUYỆT VỜI (T18) </a>

                        <p class="movie__time">116 min</p>

                        <p class="movie__option">
                            <a href="#">Kinh dị</a>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.1</span>
                            </div>
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--left">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/thanh-guom-tru-ta-poster.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">DR CHEON VÀ BÙA THẤT LẠC (T16) </a>

                        <p class="movie__time">153 min</p>

                        <p class="movie__option">
                            <a href="#">Hài kịch</a> | <a href="#">Kinh dị</a>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">5.0</span>
                            </div>
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--light movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/thanh-pho-ngu-gat-poster.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">THÀNH PHỐ BUỒN NGỦ   </a>

                        <p class="movie__time">107 min</p>

                        <p class="movie__option">
                            <a href="#">Kịch</a>

                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rating">4.9</span>
                            </div>
                    </div>
                </div>
                <!-- Movie variant with time -->
                <!-- Movie variant with time -->
                <div class="movie movie--test movie--test--dark movie--test--right">
                    <div class="movie__images">
                        <a href="movie-page-left.html" class="movie-beta__link">
                            <img src="~/img/images/movie/wolfoo.jpg" />
                        </a>
                    </div>

                    <div class="movie__info">
                        <a href='movie-page-left.html' class="movie__title">WOLFOO VÀ ĐẢO BÍ ẨN 2D DUB (P)</a>

                        <p class="movie__time">112 min</p>

                        <p class="movie__option"><a href="#">Hoạt hình, Phiêu lưu</a></p>

                        <div class="movie__rate">
                            <div class="score"></div>
                            <span class="movie__rating">5.0</span>
                        </div>
                    </div>
                </div>
                <!-- Movie variant with time -->


                <div class="row">
                    <div class="social-group">
                        <div class="col-sm-6 col-md-4 col-sm-push-6 col-md-push-4">
                            <div class="social-group__head">Join <br>our social groups</div>
                            <div class="social-group__content">A lot of fun, discussions, queezes and contests among members. <br class="hidden-xs"><br>Always be first to know about best offers from cinemas and our partners</div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-sm-pull-6 col-md-pull-4">
                            <div class="facebook-group">

                                <iframe class="fgroup" src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fthemeforest&amp;width=240&amp;height=330&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:330px;" allowTransparency="true"></iframe>
                            </div>
                        </div>

                        <div class="clearfix visible-sm"></div>
                        <div class="col-sm-6 col-md-4">
                            <div class="twitter-group">
                                <div id="twitter-feed"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <aside class="col-sm-4 col-md-3">
                <div class="sitebar first-banner--left">
                    <div class="banner-wrap first-banner--left">
                        <img src="~/img/images/banners/c_monday.jpg" />
                    </div>

                    <div class="banner-wrap">
                        <img src="~/img/images/banners/c_ten.jpg" />
                    </div>

                    <div class="banner-wrap banner-wrap--last">
                        <img src="~/img/images/banners/hssv.jpg" />
                    </div>

                    <div class="promo marginb-sm">
                        <div class="promo__head">A.Movie app</div>
                        <div class="promo__describe">for all smartphones<br> and tablets</div>
                        <div class="promo__content">
                            <ul>
                                <li class="store-variant"><a href="#"><img alt='' src="images/apple-store.svg"></a></li>
                                <li class="store-variant"><a href="#"><img alt='' src="images/google-play.svg"></a></li>
                                <li class="store-variant"><a href="#"><img alt='' src="images/windows-store.svg"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </aside>
        </div>
    </div>

    <div class="col-sm-12">
        <h2 class="page-heading">Latest news</h2>

        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="~/img/images/client-photo/post-annual.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">22 October 2013 </p>
                <a href="single-page-left.html" class="post__title">"Thor: The Dark World" - World Premiere</a>
                <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
            </div>
        </div>
        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="~/img/images/client-photo/1.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">22 October 2013 </p>
                <a href="single-page-left.html" class="post__title">30th Annual Night Of Stars Presented By The Fashion Group International</a>
                <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
            </div>
        </div>
        <div class="col-sm-4 similar-wrap col--remove">
            <div class="post post--preview post--preview--wide">
                <div class="post__image">
                    <img alt='' src="~/img/images/client-photo/post-thor.jpg">
                    <div class="social social--position social--hide">
                        <span class="social__name">Share:</span>
                        <a href='#' class="social__variant social--first fa fa-facebook"></a>
                        <a href='#' class="social__variant social--second fa fa-twitter"></a>
                        <a href='#' class="social__variant social--third fa fa-vk"></a>
                    </div>
                </div>
                <p class="post__date">22 October 2013 </p>
                <a href="single-page-left.html" class="post__title">Hollywood Film Awards 2013</a>
                <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
            </div>
        </div>
    </div>

</section>

<div class="clearfix"></div>
<!-- open/close -->
<div class="overlay overlay-hugeinc">

    <section class="container">

        <div class="col-sm-4 col-sm-offset-4">
            <button type="button" class="overlay-close">Close</button>
            <form id="login-form" class="login" method='get' novalidate=''>
                <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                <div class="social social--colored">
                    <a href='#' class="social__variant fa fa-facebook"></a>
                    <a href='#' class="social__variant fa fa-twitter"></a>
                    <a href='#' class="social__variant fa fa-tumblr"></a>
                </div>

                <p class="login__tracker">or</p>

                <div class="field-wrap">
                    <input type='email' placeholder='Email' name='user-email' class="login__input">
                    <input type='password' placeholder='Password' name='user-password' class="login__input">

                    <input type='checkbox' id='#informed' class='login__check styled'>
                    <label for='#informed' class='login__check-info'>remember me</label>
                </div>

                <div class="login__control">
                    <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                    <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                </div>
            </form>
        </div>

    </section>
</div>
