
@{
    ViewData["Title"] = "tatcacactram";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Search bar -->
<div class="search-wrapper">
    <div class="container container--add">
        <form id='search-form' method='get' class="search">
            <input type="text" class="search__field" placeholder="Search">
            <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                <option value="1" selected='selected'>By title</option>
                <option value="2">By year</option>
                <option value="3">By producer</option>
                <option value="4">By title</option>
                <option value="5">By year</option>
            </select>
            <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
        </form>
    </div>
</div>

<!-- Main content -->
<section class="container">
    <div class="col-sm-12">
        <h2 class="page-heading">Gallery</h2>

        <div class="row">
            <div class="gallery-wrapper">
                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Hồ Chí Minh</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Bình Dương</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Đà Nẵng</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__image gallery-item--video">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__descript gallery-item--video-link">
                            <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                            <p class="gallery-item__name">Sóc Trăng</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Bà Rịa - Vũng Tàu</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Tây Ninh</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__image gallery-item--video">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__descript gallery-item--video-link">
                            <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                            <p class="gallery-item__name">Thái Nguyên</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Đắc Lắc</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Kon Tum</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__image gallery-item--video">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__descript gallery-item--video-link">
                            <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                            <p class="gallery-item__name">Quảng Ninh</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Kiên Giang</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Khánh Hòa</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Cần Thơ</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__image gallery-item--video">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__descript gallery-item--video-link">
                            <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                            <p class="gallery-item__name">Thái Nguyên</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__image gallery-item--video">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="gallery-item__descript gallery-item--video-link">
                            <span class="gallery-item__icon"><i class="fa fa-video-camera"></i></span>
                            <p class="gallery-item__name">Vĩnh Long</p>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="gallery-item">
                        <a href='http://placehold.it/2150x1200' class="gallery-item__image gallery-item--photo">
                            <img alt='' src="http://placehold.it/524x524">
                        </a>
                        <a href='http://placehold.it/2150x1200' class="gallery-item__descript gallery-item--photo-link">
                            <span class="gallery-item__icon"><i class="fa fa-camera"></i></span>
                            <p class="gallery-item__name">Đồng Tháp</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div class="pagination paginatioon--full">
            <a href='#' class="pagination__prev">prev</a>
            <a href='#' class="pagination__next">next</a>
        </div>
    </div>

</section>


